@page
@model WebApplication2.Pages.AboutUsModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.101.0">
    <title>Masonry example · Bootstrap v5.2</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/masonry/">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">


</head>
<body>

    <main class="container py-5">
        <h1>Library Management system </h1>
        <p class="lead">Delivering happy faces every day.</p>



        <hr class="my-5">

        <div class="row" data-masonry='{"percentPosition": true }'>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="200" role="img" aria-label="Placeholder: 500x500"
                         preserveAspectRatio="xMidYMid slice" focusable="false">
                    <image href="/css/images/logo.png" width="100%" height="200" /></svg>

                    <div class="card-body">
                        <h5 class="card-title">Having the ability to controll your profile</h5>
                        <p class="card-text">Not only can you request books, but you can do it any time you want. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card p-3">
                    <figure class="p-3 mb-0">
                        <blockquote class="blockquote">
                            <p>“A room without books is like a body without a soul.” ...</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-0 text-muted">
                            Someone famous
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="200" role="img"  aria-label="Placeholder: 500x500"
                         preserveAspectRatio="xMidYMid slice" focusable="false">
                        <image href="/css/images/ebook.jpg" width="100%" height="200"></image>
                    </svg>

                    <div class="card-body">
                        <h5 class="card-title">DVDs and E-books</h5>
                        <p class="card-text">Our idea is to pleasure every wish of our clients so we decided that we want to surpise you with our new components-DVDs and E-books.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card">
                    <svg class="bd-placeholder-img card-img" width="100%" height="260" aria-label="Placeholder: 500x500"
                         preserveAspectRatio="xMidYMid slice" focusable="false">
                        <image href="/css/images/dvd.jpg" width="100%" height="260"></image>
                    </svg>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card text-bg-primary text-center p-3">
                    <figure class="mb-0">
                        <blockquote class="blockquote">
                            <p>“You can never get a cup of tea large enough or a book long enough to suit me.”</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-0 text-white">
                            ― C.S. Lewis
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card">
                    <svg class="bd-placeholder-img card-img" width="100%" height="260" aria-label="Placeholder: 500x500"
                         preserveAspectRatio="xMidYMid slice" focusable="false">
                    <image href="/css/images/book.jpeg" width="100%" height="260"></image></svg>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card p-3 text-end">
                    <figure class="mb-0">
                        <blockquote class="blockquote">
                            <p>
                                “If there's a book that you want to read, but it hasn't been written yet, then you must write it.”
                            </p>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-0 text-muted">
                            Toni Morrison
                        </figcaption>
                    </figure>
                </div>
            </div>

        </div>

    </main>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

    <script async src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"></script>
</body>
</html>
